config/dconf
config/config/gconf
config/bakamplayer.ini
config/configstore
config/gtk*
config/.mono
config/mpv
config/systemd
config/spotify
config/Slack
config/libreoffice
config/Keepass
config/QTProject.conf
config/okularpartrc
config/okularrc
config/pulse
config/skypeforlinux
config/htop
config/onedrive/*
!/config/onedrive/config
bash_history
