#config/dconf
#config/config/gconf
#config/bakamplayer.ini
#config/configstore
#config/gtk*
#config/.mono
#config/mpv
#config/systemd
#config/spotify
#config/Slack
#config/libreoffice
#config/Keepass
#config/okularpartrc
#config/okularrc
#config/pulse
#config/skypeforlinux
#config/htop
#config/onedrive
#config/QtProject.conf
#config/gconf
#config/mimeapps.list
config/*
!/config/i3
!/config/i3blocks
